.background {

    &.background-color-7 {

        background-color: $color_7 !important;

    }

    &.background-color-8 {

        background-color: $color_8 !important;

    }

    &.background-color-11 {

        background-color: $color_11 !important;

    }

    &.background-color-12 {

        background-color: $color_12 !important;

    }

    &.background-color-14 {

        background-color: $color_14 !important;

    }

    &.background-color-15 {

        background-color: $color_15 !important;

    }

    &.background-color-16 {

        background-color: $color_16 !important;

    }

}