.container {
    display: inline-flex;
    .container-img {
        .img {
            height: 20px;
            width: 458px;
        }

    }
    .container-info {
        display: block;
        .info {
            color: black;
            background-color: #FFC89B;
        }
    }
}