.text {

    &.text-color-primary {

        color: $color_primary;

    }

    &.text-color-secondary {

        color: $color_secondary;

    }

    &.text-color-5 {

        color: $color_5;

    }

}