.text {

    &.text-color-primary {

        color: $color_primary;

    }

    &.text-color-secondary {

        color: $color_secondary;

    }

    &.text-color-5 {

        color: $color_5;

    }

    &.text-color-7 {

        color: $color_7;

    }

    &.text-color-9 {

        color: $color_9;

    }

    &.text-color-10 {

        color: $color_10;

    }

    &.text-color-11 {

        color: $color_11;

    }

    &.text-color-12 {

        color: $color_12;

    }
    
    &.text-color-18 {

        color: $color_18;

    }

}