.text {

    &.text-font-helvetica {

        font-family: $font_1;

    }

    &.text-font-l-d{

        font-family: $font_2;

    }

    &.text-font-rubik{

        font-family: $font_4;

    }

    &.text-font-georgia{

        font-family: $font_3;

    }

    &.text-font-r-h-d{

        font-family: $font_5;

    }

    &.text-font-monoton{

        font-family: $font_6;

    }

}