.categories {

    &.categories-filter {

        border: 1px solid $color_12;
        padding: 30px;
        border-radius: 5px;

    }

}

.popular-categories-two {

    height: 518px;
    width: 100%;
    padding-top: 26px;
    padding-bottom: 26px;
    background-color: $color_17;

    .categories-container {
        height: 320px;
        display: flex;
        grid-gap: 32px;
        justify-content: center;
        min-width: 1328px;
    }

}