.form-custom {

    &.form-custom-one {

        padding: 60px;
        .title {

            font-size: 27px;

        }

        @media (max-width: 768px) {
            padding: 30px;

            .title {

                font-size: 18px;
    
            }
        }

        & .row-custom {
            display: grid;

            @media (min-width: 768px) and (max-height: 1024px) {

                grid-template-columns: repeat(2, 1fr);
                grid-gap: 10px;

            }

            @media (min-width: 1024px) {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 10px;
            }
        }


        & .border-pointed {
            height: 2px;
            border: 1px dashed #FFC89B;
        }

    }

}