.footer-one {
  position: relative;
  background-color: #533745;

  .footer-body {
    .grid {
      display: flex;
      margin-top: 3rem;
      margin-bottom: 3rem;
      .contact-info {
        text-align: start;
        margin-top: 1rem;
        .contact-text {
          margin-bottom: 30px;
          .text-row {
          }
        }
        .socialmedia {
          text-align: center;
          .socialmedia-text {
            margin-bottom: 10px;
          }
          .socialmedia-buttons {
          }
        }
      }
      .info {
      }
      .recent {
        .recent-img {
          border-radius: 5px;
          height: 50px;
          width: 50;
          margin-right: 10px;
        }
        .recent-content {
          text-align: start;
          .recent-price {
            font-size: 14px;
            font-family: $font_2;
            color: #ffc695;
          }
        }
      }
      .sect {
        margin-inline: 3rem;
        
        .list-element {
          align-self: left;
          display: flex;

          margin-top: 20px;
        }
        .subtitle {
          color: #ffff;
          font-family: $font_4;
          font-size: 16px;
          font-weight: bold;
        }
        .text {
          font-size: 16px;
          color: #ffff;
          font-family: $font_1;
        }
        .text2 {
          font-size: 14px;
          color: #ffff;
          font-family: $font_3;
          font-weight: 500;
        }
      }
    }
    .rights_reserved {
      text-align: center;
      height: 60px;
      width: auto;
      background-color: #3f3f40;
      .rights_reserved-text {padding-top: 20px;
        color: #FD8a2a;
        font-family: $font_2;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
