.footer-one {
  position: relative;
  background-color: #533745;

  .footer-body {
    .grid {
      display: flex;
      margin-top: 2rem;
      .contact-info { 
        margin-top: 1rem;   
        .contact-text {
          margin-bottom: 30px;
          .text-row {
          }
        }
        .socialmedia {
          .socialmedia-text {
            margin-bottom: 10px;
          }
          .socialmedia-buttons {
          }
        }
      }
      .info {
      }
      .recent {
        .recent-img {
          border-radius: 5px;
          height: 50px;
          width: 50;
          margin-right: 10px;
        }
        .recent-price {
          color: #ffc695;
        }
      }
    }
    .sect {
      margin-inline: 3rem;
      text-align: center;
    }
  
    

    .subtitle {
      color: #ffff;
      font-size: 18px;
      font-weight: bold;
    }

    .list-element {
      display: flex;
      margin-top: 20px;
    }

    .text {
      color: #ffff;
    }

    &.light {
      background: $color_terciary;
    }

    & .header-body {
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;

      & .logo {
        height: 65px;
      }
    }
  }
}
