.header-one {
    position: relative;
    height: 90px;

    &.light {
        background: #E4032E;
    }

    & .header-body {
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;

        & .logo {
            height: 65px;
        }
    }

}