.container-phoneNumber {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px;
    border-color: orange;
    border-radius: 5px;

    
    .container-phoneIcon {
        max-height: 50px;
        max-width: 50px;
        border-radius: 50%;
        border-color: orange;
    }

    .phoneNumber {
        font-size: 16px;
        font-family: $font_4;
        color: $color_5;
        font-weight: bold;
    }
}