body {
    position: relative;
    margin: 0;
    padding: 0;
}

// Variables

// - Colors:

$color_primary: #E4032E;
$color_secondary: #FD542A;
$color_terciary: #533745;
$color_4: #FD8A2A;

// Components

// - Modules:

/* Header */
@import 'components/modules/header.scss';
/* Footer */
@import 'components/modules/footer.scss';
/* Sidebar */
@import 'components/modules/sidebar.scss';

// - Inputs:

/* Button */
@import 'components/inputs/button.scss';

// Screen Sizes 
@import 'screen/sizes.scss';